body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

#movie2022,
#movie2023,
#movie2024,
#movie2025,
#best2022,
#best2023,
#best2024,
#best2025 {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: 0 auto 15px auto;
  padding: 25px;
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 12px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#movie2022:active,
#movie2023:active,
#movie2024:active,
#movie2025:active,
#best2022:active,
#best2023:active,
#best2024:active,
#best2025:active {
  background-color: white;
  color: black;
}
#movieList2022,
#movieList2023,
#movieList2024,
#movieList2025 {
  margin-top: 30px;
}

#movieList2022 p,
#movieList2023 p,
#movieList2024 p,
#movieList2025 p {
  font-size: 18px;
  border-bottom: 1px solid #555;
  padding: 12px 0;
}

#bestList2022,
#bestList2023,
#bestList2024,
#bestList2025 {
  margin-top: 30px;
}

#bestList2022 p,
#bestList2023 p,
#bestList2024 p,
#bestList2025 p {
  font-size: 18px;
  border-bottom: 1px solid #555;
  padding: 12px 0;
}

h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}